.container {
  font-family: Arial, sans-serif;
  margin: 20px;
  color: #333;
}

.downloadSection {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: transparent !important;
  border: none !important;
}

.button {
  background-color: transparent;
  color: black;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.button:hover {
  color: #0056b3;
}

.button:disabled {
  color: #a1a1a1;
  cursor: not-allowed;
  box-shadow: none;
  opacity: 0.6;
}

.datagridWrapper {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table th,
.table td {
  padding: 10px;
  border-top: 1px solid #ddd;
  text-align: left;
}

.table th {
  background-color: #f5f5f5;
}

.checkbox {
  transform: scale(1.2);
  margin-right: 10px;
}

.statusContainer {
  display: flex;
  align-items: center;
}

.status {
  padding: 6px;
  border-radius: 6px;
  font-size: 0;
}

.status.available {
  background-color: #28a745;
  color: white;
  margin-right: 6px;
}
